.container {
    width: 120px;
    height: 40px;
    margin-left: 1px;
    background-color: var(--greenLeaf);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
        background-color: var(--greenMint);
    }
}

.childsContainerShow {
    display: none;
}

.childsContainerHidden {
    display: block;
}

@media (min-width: 700px) {
    .childsContainerShow {
        display: flex;
        flex-direction: column;
        position: relative;
    }
}