.spain {
    height: 20px;
    width: 30px;
    border-radius: 5px;
    display: flex;
    background: rgb(170, 21, 27);
    background: linear-gradient(0deg, rgba(170, 21, 27, 1) 25%, rgba(241, 191, 0, 1) 25%, rgba(241, 191, 0, 1) 75%, rgba(170, 21, 27, 1) 75%);
}