.App {
    text-align: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

:root {
    --lightBlue: #8dd8f7;
    --blue: #0194da;
    --purple: #9995c8;
    --lime: #a6ce37;
    --greenLeaf: #00a54f;
    --green: #4ca392;
    --greenMint: #0b6d5e;
    --white: #fff;
}